.container {
  display: grid;
  text-align: center;
  padding: 100px;
}

label {
  font-size: 25px;
}

select {
  color: rgb(49, 49, 49);
  padding: 8px;
  margin: 18px;
}

footer {
  text-align: center;
  font-size: 18px;
}

a {
  color: rgb(145, 144, 148);
}
